<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
    <script type="text/javascript" src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/easytimer/dist/easytimer.min.js"></script>
    <script type="text/javascript" src="/p5/lib/p5.min.js"></script>
    <script type="text/javascript" src="/p5/lib/addons/p5.dom.min.js"></script>
    <script type="text/javascript" src="/p5/lib/addons/p5.sound.min.js"></script>
    <script type="text/javascript" src="/js/Scores.js"></script>
    <script type="text/javascript" src="/js/timer.js"></script>
    <script type="text/javascript" src="/js/Game.js"></script>
    <script type="text/javascript" src="/js/MineCell.js"></script>
    <script type="text/javascript" src="/js/ClassicCell.js"></script>
    <script type="text/javascript" src="/js/ColourCell.js"></script>
    <script type="text/javascript" src="/js/HexCell.js"></script>
    <script type="text/javascript" src="/js/Minesweeper.js"></script>
    <script type="text/javascript" src="/js/sketch.js"></script>
    <script type="text/javascript" src="/js/test.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
  </head>
  <body>
    <div class="grid-container">
      <div class="left-screen">
        
        <h4>Hex Minesweeper</h4>
        <button class='btn btn-success' onclick="new_gameh(315, 315, 10, 'hex')">Easy</button>
        <button class='btn btn-warning' onclick="new_gameh(410, 410, 30, 'hex')">Medium</button>
        <button class='btn btn-danger' onclick="new_gameh(615, 615, 150, 'hex')">Hard</button>
        <h4>Classic Minesweeper</h4>
        <button class='btn btn-success' onclick='new_game(201, 201, 10)'>Easy</button>
        <button class='btn btn-warning' onclick='new_game(401, 401, 80)'>Medium</button>
        <button class='btn btn-danger' onclick='new_game(601, 601, 150)'>Hard</button>
        <h4>Colouring Minesweeper</h4>
        <button class='btn btn-success' onclick="new_gameC(201, 201, 10, 'colouring')">Easy</button>
        <button class='btn btn-warning' onclick="new_gameC(401, 401, 20, 'colouring')">Medium</button>
        <button class='btn btn-danger' onclick="new_gameC(601, 601, 30, 'colouring')">Hard</button>
        

      </div>
      <div class="right-screen">
          <div>
    		<table class="table">
				<thead>
					<tr>
						<th>
							#ID
						</th>
						<th>
							Name
						</th>
						<th>
							Score
						</th>
						<th>
							Game
						</th>
					</tr>
				</thead>
				<tbody id='scores'>
				    
				</tbody>
			</table>
        </div>
          
      </div>
      <div class="game-area">
      </div>
      <div class="bottom-center">
      </div>
      <div class="top-center">
        <h2 id="timer">00:00:00</h2>
          <h1>Minesweeper!</h1>
        <div id='minesweeper'></div>
      </div>
    </div>
    
    
    <div class="container-fluid">
    	<div class="row">
    		<div class="col-md-12">
    			<div class="modal fade" id="modal-" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    				<div class="modal-dialog" role="document">
    					<div class="modal-content">
    						<div class="modal-header">
    							<h5 class="modal-title" id="myModalLabel">
    								Modal title
    							</h5> 
    							<button type="button" class="close" data-dismiss="modal">
    								<span aria-hidden="true">×</span>
    							</button>
    						</div>
    						<div class="modal-body">
    						<div class="container-fluid">
                                	<div class="row">
                                		<div class="col-md-12">
                                				<div class="form-group">
                                					<label for="name">
                                						Name
                                					</label>
                                					<input type="text" class="form-control" id="name" />
                                				</div>
                                		    <div id='your_score'>Your Score: </div>
                                		</div>
                                	</div>
                                </div>
    						</div>
    						<div class="modal-footer">
    							 
    							<button type="button" class="btn btn-primary" onclick='save_score()'>
    								Save
    							</button> 
    						</div>
    					</div>
    					
    				</div>
    				
    			</div>
    			
    		</div>
    	</div>
    </div>
  </body>
</html>
